<!DOCTYPE html>
<html>
<head>
  <style>
  @font-face {
    font-family: 'complete_in_himregular';
    src: url('complete_in_him-webfont.woff2') format('woff2'),
         url('complete_in_him-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .carousel-caption h3 {
    font-family: 'complete_in_himregular';
    font-size: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
  }
  .searchLabel {
   font-family: 'complete_in_himregular';
   font-size: 20px;
   font-weight: normal;
   padding-right: 10px;
   margin-top: 10px;
   min-width: 80px;
  }
  </style>
  <title>CapstoneMartin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV['CLOUD_NAME'] %>',
      upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
